html,
body {
  height: 100%;
}

#nav{
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: #000000;
  h2{
    color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-bottom: 18px;
  }
  ul{
    height: 100%;
    li{
      list-style-type: none;
      display: inline-block;
      height: 100%;
      width: 115px;
        button{
          border: none;
          color: #dddddd;
          background-color: #565656;
          margin-left: 0;
          height: 100%;
        }
    }
  }
}

#main-container{
  z-index: 0;
  margin-top: 100px;
  margin-bottom: 10px;
  .headers{
    font-size: 23px;
    margin-bottom: 5px;
  }
  .city-row{
    margin-bottom: 6px;
    background-color: rgba(165, 200, 196, 0.09);
    border: solid 7px transparent;
    .manual-area{
      .original{
        padding-top: 3px;
        font-size: 18px;
        margin-left: 2px;
      }
      .form-group{
        margin-bottom: 3px;
      }
    }
    .suggestions-area{
      .suggestions-set{
        margin-top: 10px;
        button{
          margin-top: 5px;
        }
      }
    }
  }
}


.green-input{
  background-color: rgba(98, 229, 167, 0.72);
}