html,
body {
  height: 100%;
}
#nav {
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: #000000;
}
#nav h2 {
  color: #ffffff;
  margin-left: 10%;
  margin-bottom: 18px;
}
#nav ul {
  height: 100%;
}
#nav ul li {
  list-style-type: none;
  display: inline-block;
  height: 100%;
  width: 115px;
}
#nav ul li button {
  border: none;
  color: #dddddd;
  background-color: #565656;
  margin-left: 0;
  height: 100%;
}
#main-container {
  z-index: 0;
  margin-top: 100px;
  margin-bottom: 10px;
}
#main-container .headers {
  font-size: 23px;
  margin-bottom: 5px;
}
#main-container .city-row {
  margin-bottom: 6px;
  background-color: rgba(165, 200, 196, 0.09);
  border: solid 7px transparent;
}
#main-container .city-row .manual-area .original {
  padding-top: 3px;
  font-size: 18px;
  margin-left: 2px;
}
#main-container .city-row .manual-area .form-group {
  margin-bottom: 3px;
}
#main-container .city-row .suggestions-area .suggestions-set {
  margin-top: 10px;
}
#main-container .city-row .suggestions-area .suggestions-set button {
  margin-top: 5px;
}
.green-input {
  background-color: rgba(98, 229, 167, 0.72);
}
